<nav class="navbar navbar-light bg-faded">
  <%= link_to 'Perfect doodle !', root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <li class="nav-item pull-xs-right">
      <%= link_to 'Admin', doodles_path ,class: 'nav-link' %>
    </li>
  </ul>
</nav>