<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'DouDeule !', root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Admin', doodles_path ,class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>